SECRET_KEY=cambiar_en_produccion
DEBUG=False

ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com
CORS_ALLOWED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com
CSRF_TRUSTED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com

DB_NAME=bookexpress_db
DB_USER=bookexpress_user
DB_PASSWORD=cambiar_password
DB_HOST=localhost
DB_PORT=5432

SECURE_SSL_REDIRECT=False