# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno
.env

# Base local
db.sqlite3

# Archivos temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Zips temporales
*.zip

# Static generados
staticfiles/